@import url("~/platform.css");
Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}


Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #000 ;
  color: white;
  margin-top: 20;
}

.add-button {
  color: black;
  background-color: white;
}

ActionBar {
  background-color:  black;
  color: white;
}