
  <ActionBar title="My XChange">
    <GridLayout>
      <Label text="My XChange" horizontalAlignment="center"></Label>
    </GridLayout>
  </ActionBar>
  <StackLayout >
    <Label *ngIf="user && user.prenom" [text]='"Bienvenue " + user.prenom' class="welcome"></Label>
    <Label *ngIf="user && user.solde" [text]='"Votre solde est de : " + user.solde' class="welcome"></Label>
    <Button text="payer une facture" class="add-button" (tap)="payer()"></Button>
    <Label [text]='"Vos Dernières Transactions :"' class="titre-list"></Label>
    
    <ListView [items]="transactions">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout [class.odd]="odd" [class.even]="even">
          <Label [text]='item.date_transaction | date : "dd/ MM/y"'></Label>
          <Label [text]='item.titre_transaction'></Label>
          <Label [text]='item.statut+ " :" + item.montant'></Label>
        </StackLayout>
      </ng-template>
    </ListView>
  </StackLayout>
