.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}

TextField {
  color: white;
}

.welcome{

  font-size: 20;
  padding: 25;
}

.titre-list{
  border-bottom: 2 solid black;
  padding-bottom: 15;
  
}

ListView StackLayout{
  padding-right: 15;
  padding-left: 15;
  padding-top: 5;
  padding-bottom: 5;
  
}

.odd {
  background-color: #DADADA;
}

.even {
  background-color: #F1F1F1;
}