<ScrollView class="page">
  <StackLayout>
    <Image src="res://myxchange" stretch="none" horizontalAlignment="center"></Image>

    <TextField hint="Email Address" keyboardType="email" [(ngModel)]="user.mail" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="user.mdp"></TextField>

    <Button [text]="'Sign in'" class="submit-button" (tap)="login()"></Button>
  </StackLayout>
</ScrollView>