StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-top: 15;
  background-color: rgba(255,255,255,.5);
  
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}

.page {
  background-image: url("res://home_bg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}